<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="home">home</a></li>
                <li><a href="about">about</a></li>
                <li><a href="photo-gallery">photo-gallery</a></li>
                <li><a href="works">works</a></li>
            </ul>
            <hr class="photo-divide">
        </nav>
    </header>
    <div class="welcome">
        <h1>Welcome to this tasty Camus page</h1>
        <h2>He was the man. Find some cool links here</h2>
    </div>
    <div class="works">
        <ul>
            <li><a href="about">about</a></li>
            <li><a href="photo-gallery">photo-gallery</a></li>
            <li><a href="works">works</a></li>
        </ul>
    </div>
</body>
</html>