<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
        <header>
            <nav>
                <ul>
                    <li><a href="home">home</a></li>
                    <li><a href="about">about</a></li>
                    <li><a href="photo-gallery">photo-gallery</a></li>
                    <li><a href="works">works</a></li>
                </ul>
                <hr class="photo-divide">
            </nav>
        </header>
        <div class="works">
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/The_Stranger_(Camus_novel)">The Stranger</a></li>
                <li><a href="https://en.wikipedia.org/wiki/The_Plague">The Plague</a></li>
                <li><a href="https://en.wikipedia.org/wiki/The_Fall_(Camus_novel)">The Fall</a></li>
            </ul>
        </div>    
</body>
</html>